.custom-title-section-clinic{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
  font-size: 24px;
}
.custom-section-body-clinic {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    .custom-section-customize-clinic {
      width: calc(25% - 10px); 
      margin-bottom: 20px;
      position: relative;
      padding-top: 50px;
      padding-left: 70px;
  
      &:nth-child(2n) {
        margin-right: 20px;
      }
  
      .custom-bg-img-clinic {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
  
        border: 2px solid #49bce2;
        margin-bottom: 10px; 
        border-radius: 25%; 
        transition: transform 0.3s; 
  
        &:hover {
          transform: scale(1.2); 
        }
      }
  
      .custom-clinic-name-clinic {
        font-weight: bold;
        margin-bottom: 10px;
        
      }
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 75%;
  
    input {
      padding: 8px;
      border: none;
      border-radius: 4px 0 0 4px;
      font-size: 14px;
      transition: border-color 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #49bce2;
      &:focus {
        outline: none;
        border-color: blue;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
      }
  
      &::placeholder {
        color: gray;
      }
    }
  
    button {
      padding: 8px 12px;
      background-color: blue;
      color: white;
      border: none;
      border-radius: 0 4px 4px 0;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 1px solid #49bce2;
      &:hover {
        background-color: darken(blue, 10%);
      }
    }
  }