//reset slick silder css

.slick-prev{
    height: 48px !important;
    width: 44px !important;
    left: -20px !important;
    z-index: 10 !important;
    background: #f5f5f5 !important;
    opacity: 0.7;
    border: 1px solid orange !important;
    border-radius: 10px;
    &:hover{
        opacity: 1;
    }
}
.slick-prev:before, .slick-next:before{
    font-family: 'slick' !important;
    font-size: 20px !important;
    line-height: 1 !important;
    opacity: .75 !important;
    color: orange !important;
    -webkit-font-smoothing: antialiased !important;
}
.slick-next{
    height: 48px !important;
    width: 44px !important;
    right: -30px !important;
    z-index: 10 !important;
    margin-right: 30px !important;
    border: 1px solid orange !important;
    background: #f5f5f5 !important;
    opacity: 0.7;
    border-radius: 7px;
    &:hover{
        opacity: 1;
    }
}

.slick-disable{
    display: none !important;
}
.section-share{
    &.section-specialty{
        background: #f5f5f5;
    }
    
    &.section-outstanding-doctor{
        background: #f5f5f5;
    }

    &.section-about{
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        height: 500px !important;
    }
    .section-body{    
        .section-customize{
            .bg-img{
                width: 250px;
                height: 170px;
                border: 1px solid #49bce2;
                background-position: center center;
                background-repeat: no-repeat ;
                background-color: cover;
                background-size: #eee;
                border-radius: 20px;
                &.section-specialty{
                    // background-image: url('../../assets/specialty/noi-khoa.jpg');
                }

                &.section-medical-facility{
                    // background-image: url('../../assets/medical-facility/benh-vien-cho-ray-moi.jpg');
                }
                &.section-outstanding-doctor{
                    // background-image: url('../../assets/outstanding-doctor/bs-vi.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                // &.section-handbook{
                //     background-image: url('../../assets/handbook/tieu-duong-tuyp-2-nen-va-khong-nen-an-gi-p2-utube.png');
                // }
            }           
        }  
    }  
}

.section-share{
    height: 350px;

    .section-container{
        margin: 0 130px;
        display: flex;
        flex-direction: column;

        .section-header{
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section{
                font-size: 22px;
                font-weight: 600;           
            }

            .btn-section{ 
                float: right;
                padding:10px 10px;
                border: none;
                display: block;
                outline: none;
                background: wheat;
                color: black;
                cursor: pointer;
                text-transform: uppercase;
                border-radius: 4px;
                &:hover{
                    background: #49bce2;
                    color: black ;
                }
            }
        } 
    }
}

.section-outstanding-doctor{
    .outer-bg{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        
    }

    .section-customize{
        padding: 5px;
        cursor: pointer;

        .customize-border{
            border: 1px solid #45c3d2;
            padding: 20px;
            margin-right: 20px;
            border-radius: 20px;
        }
    }
}

.home-footer{
    text-align: center;
    
    padding-top:8px;
    a{
        text-decoration: unset;
    }
}

.section-about{
    margin: 0 100px;
    .section-about-header{
        padding:20px 10px;
        font-size: 22px;
        font-weight: 600;
    }
}
.section-about-content{
    display: flex;
    gap: 15px;
    width: 100%;
    .content-left{
        width: 60%;
    }
    .content-right{
        width: 40%;
        p{
            text-align: justify;
            font-style: italic;
        }
    }
}